{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
<div class="container">
	<div class="twelve columns offset-by-one content">
		<header>{% include header.html %}</header>
		<nav>{% include navigation.html %}</nav>
		<hr class="large">
		{{ content | expand_urls: root_url }}
	  

	</div><!-- content -->

</div><!-- container -->

<div class="container">
	<footer class="twelve columns offset-by-one content">{% include footer.html %}</footer>
	{% include after_footer.html %}
</div>

</body>
</html>
