{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <div class="container">
    <div class="twelve columns offset-by-one content">
      <header>
        <hgroup>
          <h1><a href="{{ site_url }}/and/lizyetter">Liz and Aaron</a></h1>
        </hgroup>	
      </header>
      <hr class="large">

    </div><!-- content -->


    <div class="twelve columns offset-by-one content">
    
      <ul>
      <li><a target="_blank" href="http://www.potterybarn.com/registry/3528187/registry-list.html">Pottery Barn</a></li>
      <li><a target="_blank" href="http://www.amazon.com/gp/registry/wedding/XSC9C9VAHG93">Amazon</a></li>
      <li><a target="_blank" href="http://www1.bloomingdales.com/registry/wedding/guest/?registryId=6219139">Bloomingdale's</a></li>
      </ul>
    </div>


  </body>
  {% include google_analytics.html %}
  </html>
