{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
<div class="container">
  <div class="twelve columns offset-by-one content">
    <header>
      <hgroup>
      <h1><a href="{{ site_url }}/and/lizyetter">Liz and Aaron</a></h1>
      </hgroup>	
    </header>
    <hr class="large">

  </div><!-- content -->

  <div class="twelve columns offset-by-one content">

    <div class="five columns content">
      <blockquote
        <p><h3>Where:</h3></p>
        <p><strong>Kenmore Inn</strong></p>
        <p>1200 Princess Anne St,<br />Fredericksburg, VA 22401</p>
      </blockquote>
      <blockquote>
        <h3>When:</h3> 
        <h4>April 25, 2015</h4>
      </blockquote>
      <br />
      <a href="{{ site_url }}/and/rsvp">
        <h2>RSVP</h2>
      </a>
    </div>
    <div class="five columns content">
      <script src="https://embed.github.com/view/geojson/aaroncrespo/localhotels.geojson/master/hotels.geojson?height=450&width=300"></script>
    </div>

    <hr class="large yellow">
  </div>

  <div class="twelve columns offset-by-one content">
    <h3>Lodging</h3>
    <p>
    For guests flying in, we recommend Regan National or Baltimore Washington International airports. Both have easy access to mass transit and train commuter routes direct to Fredericksburg for the ceremony.
    </p>
    <div class="five columns content">
      <h4>Fredericksburg</h4>

      <ul>
        <li>
        <p>
        <strong>
          <a href="http://www.daysinn.com/hotels/virginia/fredericksburg/days-inn-fredericksburg-north/hotel-overview?reg=Local-_-all-_-DI-_-all&cid=IP_Local&wid=local">
            Days Inn Fredericksburg North
          </a>
        </strong>
        </p>
        <p>14 Simpson Lane,<br />Fredericksburg, VA 22406
        </li>
        <li>
        <p>
        <strong>
          <a href="http://book.bestwestern.com/bestwestern/US/VA/Fredericksburg-hotels/BEST-WESTERN-Fredericksburg/Hotel-Overview.do?propertyCode=47084&cm_mmc=PTI-_-Fredericksburg-_-VA-_-47084">
            Best Western Fredericksburg
          </a>
        </strong>
        </p>
        <p>2205 Plank Rd,<br />Fredericksburg, VA 22401</p>
        </li>
        <li>
        <p>
        <strong>
          <a href="http://www.marriott.com/hotels/travel/fkrcy-courtyard-fredericksburg-historic-district/">
            Courtyard Marriott Fredericksburg Historic District
          </a>
        </strong>
        </p>
        <p>620 Caroline Street,<br />Fredericksburg, VA 22401</p>
        </li>
        <li>
        <p>
        <strong>
          <a href="http://www.therichardjohnstoninn.com/">
            Richard Johnston Inn
          </a>
        </strong>
        </p>
        <p>711 Caroline Street, <br />Fredericksburg, VA 22401</p>
        </li>
      </ul>

    </div>

    <div class="five columns offset-by-one content">
      <h4>Washington D.C.</h4>
      <ul>  
        <li>
        <p>
        <strong>
          <a href="">
            The Westchester 
          </a>
        </strong>
        </p>
        <p>4000 Cathedral Ave. NW,<br />Washington, D.C. 20016</p>
        </li>
      </ul>


    </div>

    <hr class="large blue">
  </div>


  <div class="twelve columns offset-by-one content">
    <a href="{{ site_url }}/and/registries">
      <h3>Registries</h3>
    </a>
    <hr class="large grey">
  </div> 


</div> 

<div class="container">
  <footer class="twelve columns offset-by-one content"></footer>
  {% include google_analytics.html %}
</div>

</body>
</html>
